<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBUfInblw2G-a9d4qR3IrxMqVUAtxRqYGA</string>
	<key>GCM_SENDER_ID</key>
	<string>765478026522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.meloPlayer</string>
	<key>PROJECT_ID</key>
	<string>meloplayer-6a79e</string>
	<key>STORAGE_BUCKET</key>
	<string>meloplayer-6a79e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:765478026522:ios:785c33f6a031a1599440a3</string>
</dict>
</plist>